<table class = "table table-bordered">
  <tr>
    <th>Level/Name</th>
    <th>Uses Allowed</th>
    <th>Modify +/-</th>
  </tr>
  <tr>
<table class="table">
  <% spells.each do |level, list| %>
  <tr>
    <th>Level <%= level %></th>
    <th>Spells allowed: <%= spells_allowed[level] %></th>
    <th><%= link_to("Add spell", new_prepared_spell_path(:level => level)) %></th>
  </tr>
      <% list.each do |spell| %>
      <tr>
        <td><%= spell.name %></td> <!--TODO link to d20pfsrd-->
        <td><%= spell.uses %></td>
        <td>
          <%=link_to("+", {:action => "plus", :id => spell.id}, method: :post) %>
          <%=link_to("-", {:action => "minus", :id => spell.id}, method: :post) %>
        </td>
      </tr>
      <% end %>
  <% end %>
</table>
  </tr>
</table>