<table class = "table table-bordered">
  <tr>
    <th>Level/Name</th>
    <th>Uses Allowed</th>
    <th>Modify +/-</th>
  </tr>
  <tr>
<table class="table table-bordered">
  <% spells.each do |level, list| %>
  <tr>
    <th>Level <%= level %></th>
    <th>Spells: <%= list.length %> / <%=spells_allowed[level] %></th>
    <th><center><%= link_to("Add spell", new_prepared_spell_path(:level => level)) %></center></th>
  </tr>
      <% list.each do |spell| %>
      <tr>
        <td><%= link_to(spell.name,srd_link(spell.name), target: :_blank) %></td>
        <td><%= spell.uses %></td>
        <td>
          <div>
            <div class="col-md-4 col-md-offset-2"><%=button_to("+", {:action => "plus", :id => spell.id}, :class => 'btn btn-block') %></div>
            <div class="col-md-4"><%=button_to("-", {:action => "minus", :id => spell.id}, :class => 'btn btn-block') %></div>
          </div>
        </td>
      </tr>
      <% end %>
  <% end %>
</table>
  </tr>
</table>
<div class='col-md-4'><%= button_to("Clear Spells", {:action => 'clear_spells'}, :class => 'btn btn-block') %></div>
<div class='col-md-4'><%= button_to("View Abilities", abilities_path, method: :get, :class => 'btn btn-block')%></div>
<div class='col-md-4'><%= button_to("Change character", characters_path, method: :get, :class => 'btn btn-block')%></div>